<%- include("header") -%>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">LPN</a>
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/supps"
                        role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        SUPPLEMENTS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                                href="/preworkout">PREWORKOUT</a></li>
                        <li><a class="dropdown-item"
                                href="/endurance">ENDURANCE</a></li>
                        <li><a class="dropdown-item" href="/proteins">PROTEIN</a></li>
                        <li><a class="dropdown-item" href="/health">HEALTH</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="/apparel">APPAREL</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="banner-div-about"></div>

<div class="about-div">
    <h2 class="mb-3">OUR STORY</h2>
    <p class="mb-5">
        Carlos Pinto launched Los Performance Nutrition in 2023 from his humble apartment in Louisiana. 
        While working as a software engineer, Carlos dedicated his free time to honing his skills as a hybrid athlete. 
        From its inception, the company has been driven by the core principles of transparency and consistency, which continue to shape its primary mission to this day.
    </p>

    <h5 class="mb-3">GO BEYOND YOUR LIMITS</h5>
    <p>
        "GO BEYOND YOUR LIMITS" is more than just a slogan; it embodies a way of life. 
        It serves as our unwavering motivation, fueling every action and propelling us towards our greatest achievements.
    </p>
    <p>
        "GO BEYOND YOUR LIMITS" serves as a catalyst, propelling you beyond the perceived boundaries of your mind and body. 
        It is not merely a one-time application but a continuous pursuit. Each day, push yourself to run a little further, train a little harder, 
        and learn a little more. Over time, these incremental efforts compound, fostering remarkable progress and propelling you forward on your journey of personal growth.
    </p>
    <p>
        Apply the "GO BEYOND YOUR LIMITS" mindset to every aspect of your life and watch as you transform through massive action and accountability. 
    </p>
</div>

<%- include("footer") -%>