<%- include("header") -%>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">LPN</a>
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/supps"
                            role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            SUPPLEMENTS
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                    href="/preworkout">PREWORKOUT</a></li>
                            <li><a class="dropdown-item"
                                    href="/endurance">ENDURANCE</a></li>
                            <li><a class="dropdown-item" href="/proteins">PROTEIN</a></li>
                            <li><a class="dropdown-item" href="/health">HEALTH</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="/apparel">APPAREL</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="banner-div-apparel banner-div">

        <div class="col col-lg-6 col-sm-12">
            <h2>APPAREL</h2>
        </div>
        <div class="col col-lg-6 col-sm-12">

        </div>

    </div>

    <div class="apparel-shop-div">

        <div class="row apparel-shop-row">

            <div class="card-div col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="card apparel-card">
                    <img src="images/oversizedtee-black.jpg"
                        class="card-img-top" alt="Oversized black t-shirt with
                        company logo">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">CENTERED OVERSIZED TEE</h5>
                        <p class="card-text">Oversized Tee with a centered logo
                            in black. Made for everyday use.</p>
                        <a href="#" class="btn btn-primary w-100">Add To Cart</a>
                    </div>
                </div>
            </div>

            <div class="card-div col-lg-3 col-md-6">
                <div class="card apparel-card">
                    <img src="images/oversizedtee-ow.jpg" class="card-img-top"
                        alt="Oversized off-white t-shirt with company logo">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">CENTERED OVERSIZED TEE</h5>
                        <p class="card-text">Oversized Tee with a centered logo
                            in off-white. Made for everyday use.</p>
                        <a href="#" class="btn btn-primary w-100">Add To Cart</a>
                    </div>
                </div>
            </div>

            <div class="card-div col-lg-3 col-md-6">
                <div class="card apparel-card">
                    <img src="images/oversizedtee-blackpocket.jpg"
                        class="card-img-top" alt="Oversized black t-shirt with
                        company logo">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">POCKET OVERSIZED TEE</h5>
                        <p class="card-text">Oversized Tee with a logo over the
                            left part of the chest in black. Made for everyday
                            use.
                        </p>
                        <a href="#" class="btn btn-primary w-100">Add To Cart</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row apparel-shop-row">

            <div class="card-div col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="card apparel-card">
                    <img src="images/oversizedtee-owpocket.jpg"
                        class="card-img-top" alt="Oversized off-white t-shirt with
                        company logo">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">POCKET OVERSIZED TEE</h5>
                        <p class="card-text">Oversized Tee with a logo over the
                            left part of the chest in off-white. Made for everyday
                            use.
                        </p>
                        <a href="#" class="btn btn-primary w-100">Add To Cart</a>
                    </div>
                </div>
            </div>

            <div class="card-div col-lg-3 col-md-6">
                <div class="card apparel-card">
                    <img src="images/truckerhatgreen.jpg" class="card-img-top"
                        alt="green trucker hat with logo">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">GREEN TRUCKER HAT</h5>
                        <p class="card-text">Classic trucker hat fit with the logo embroidered on the front.</p>
                        <a href="#" class="btn btn-primary w-100">Add To Cart</a>
                    </div>
                </div>
            </div>

            <div class="card-div col-lg-3 col-md-6">
                <div class="card apparel-card">
                    <img src="images/truckerhatwhite.png"
                        class="card-img-top" alt="Black trucker hat">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">BLACK TRUCKER HAT</h5>
                        <p class="card-text">Classic trucker hat fit with the logo embroidered on the front.</p>
                        <a href="#" class="btn btn-primary w-100">Add To Cart</a>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <%- include("footer") -%>