<%- include("header") -%>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">LPN</a>
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item dropdown active" aria-current="page">
                    <a class="nav-link dropdown-toggle" href="/supps"
                        role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        SUPPLEMENTS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                                href="/preworkout">PREWORKOUT</a></li>
                        <li><a class="dropdown-item"
                                href="/endurance">ENDURANCE</a></li>
                        <li><a class="dropdown-item" href="/proteins">PROTEIN</a></li>
                        <li><a class="dropdown-item" href="/health">HEALTH</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="/apparel">APPAREL</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="product-div">
    <div class="product-image-div">
        <img src="images/creatine-lg.png" id="creatine-image" class="product-image" alt="Creatine tub">
    </div>

    <div class="product-info-div">
        <h3>CREATINE MONOHYDRATE</h3>
        <p>$32.99</p>
        <p>SERVINGS - 60</p>
        <p>Creatine monohydrate providing grams per serving.</p>
        <h5>FLAVOR:</h5>
        <form method="" action="" name="myForm" class="w-50">
            <select class="form-select form-select-sm mb-3" name="creatineFlavors" aria-label=".form-select-lg example">
                <option selected>Unflavored</option>
            </select>
        <a href="#" class="btn btn-primary w-100">Add To Cart $32.99</a>
        </form>
    </div>

</div>

<div class="how-to-use-div">
    <h4>HOW TO USE</h4>
    <p>Mix 1 serving (1 scoop) in 8-10 ounces of water, juice, shakes, or your favorite beverage. Use daily on training and non-training days.</p>
</div>

<div class="faq-div">
    <h4 class="mb-3">FREQUENTLY ASKED QUESTIONS</h4>
    
    <div class="w-50 mb-3">
        <p class="faq-question">HOW DOES CREATINE WORK?</p>
        <p>
            Creatine is found in the skeletal muscle and provides inorganic phosphate to resynthesize ATP during intense exercise. 
            As your muscles are working in short, intense bursts, the creatine phosphate that your body stores in the muscle cells donate a phosphate to the degraded ATP. 
            Supplementing with the best creatine powder ensures that your muscle cells are saturated with creatine phosphate and you are able to increase your endurance, 
            strength and muscle mass 
        </p>
    </div>

    <div class="w-50 mb-3">
        <p class="faq-question">WHAT IS IS THE BEST TIME TO TAKE CREATINE?</p>
        <p>
            Creatine does not necessarily have any acute acting benefits. 
            For example: When you consume an ingredient like caffeine you start to feel the effects within minutes - 
            your heart rate increases, your focus and energy increases and you can start to feel it kick in. 
        </p>
        <p>
            Creatine doesn't work like this. Your muscles benefit from being saturated with creatine phosphate. 
            The best way to saturate your muscles with creatine phosphate is by consuming 5 grams of creatine each and every day.
        </p>
        <p>
            Mix 1 serving (5 grams) of Creapure® Creatine Monohydrate with your morning protein shake, your preworkout, your BCAAs or your post workout shake. 
            Just make sure you take 1 serving of Creatine everyday (including off days from training)
        </p>
    </div>

    <div class="w-50">
        <p class="faq-question">PRODUCT WARNINGS</p>
        <p>
            You should consult a licensed healthcare practitioner before use, especially if you are taking medication or have a medical condition. 
            Do not use if you are currently pregnant or nursing, have had or have a family history of heart disease, high blood pressure, stroke, or 
            any other disease. Discontinue use immediately if you experience any adverse reactions.
        </p>
        <p>
            ​WARNING: This product can expose you to chemicals, including arsenic, which is known to the State of California to cause cancer. 
            For more information, go to <a href="www.P65Warnings.ca.gov">www.P65Warnings.ca.gov</a>.
        </p>
    </div>
    
    
</div>

<%- include("footer") -%>