<%- include("header") -%>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">LPN</a>
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item dropdown active" aria-current="page">
                    <a class="nav-link dropdown-toggle" href="/supps"
                        role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        SUPPLEMENTS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                                href="/preworkout">PREWORKOUT</a></li>
                        <li><a class="dropdown-item"
                                href="/endurance">ENDURANCE</a></li>
                        <li><a class="dropdown-item" href="/proteins">PROTEIN</a></li>
                        <li><a class="dropdown-item" href="/health">HEALTH</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="/apparel">APPAREL</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="product-div">
    <div class="product-image-div">
        <img src="images/d3-lg.png" id="d3-image" class="product-image" alt="Bottle of Vitamin D3">
    </div>

    <div class="product-info-div">
        <h3>VITAMIN D3</h3>
        <p>$24.99</p>
        <p>SERVINGS - 30</p>
        <p>Vitamin D3 delivers just what it promises: 5,000 IU of Vitamin D3, which is 625% of your daily recommended dose.</p>

        <form method="" action="" name="myForm" class="w-50">
    
            <a href="#" class="btn btn-primary w-100">Add To Cart $24.99</a>
        </form>
    </div>

    

</div>

<div class="how-to-use-div">
    <h4>HOW TO USE</h4>
    <p>Take one capsule daily as a dietary supplement</p>
</div>

<div class="faq-div">
    <h4 class="mb-3">FREQUENTLY ASKED QUESTIONS</h4>
    
    <div class="w-50 mb-3">
        <p class="faq-question">WHAT ARE THE BENEFITS OF TAKING OUR VITAMIN D3?</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Improve bone health</li>
            <li class="list-group-item">Improve mood</li>
            <li class="list-group-item">Improve immune system</li>
        </ul>
    </div>

    <div class="w-50">
        <p class="faq-question">PRODUCT WARNINGS</p>
        <p>
            You should consult a licensed healthcare practitioner before use, especially if you are taking medication or have a medical condition. 
            Do not use if you are currently pregnant or nursing, have had or have a family history of heart disease, high blood pressure, stroke, or 
            any other disease. Discontinue use immediately if you experience any adverse reactions.
        </p>
        <p>
            ​WARNING: This product can expose you to chemicals, including arsenic, which is known to the State of California to cause cancer. 
            For more information, go to <a href="www.P65Warnings.ca.gov">www.P65Warnings.ca.gov</a>.
        </p>
    </div>
    
    
</div>

<%- include("footer") -%>