<%- include("header") -%>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">LPN</a>
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item dropdown active" aria-current="page">
                    <a class="nav-link dropdown-toggle" href="/supps"
                        role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        SUPPLEMENTS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                                href="/preworkout">PREWORKOUT</a></li>
                        <li><a class="dropdown-item"
                                href="/endurance">ENDURANCE</a></li>
                        <li><a class="dropdown-item" href="/proteins">PROTEIN</a></li>
                        <li><a class="dropdown-item" href="/health">HEALTH</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="/apparel">APPAREL</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="product-div">
    <div class="product-image-div">
        <img src="images/electrolytes-punch-lg.png" id="electrolyte-image" class="product-image">
    </div>

    <div class="product-info-div">
        <h3>ELECTROLYTES</h3>
        <p>$42.99</p>
        <p>SERVINGS - 60</p>
        <p>500mg of sodium per serving to support hydration and performance.</p>
        <h5>SELECT FLAVOR:</h5>
        <form method="" action="" name="myForm" class="w-50">
            <select class="form-select form-select-sm mb-3" name="electrolyteFlavors" onchange="switchElectrolyteProductImage();" aria-label=".form-select-lg example">
                <option selected>Select Flavor</option>
                <option value="punch">Fruit Punch</option>
                <option value="sour">Sour Watermelon</option>
                <option value="lemonade">Raspberry Lemonade</option>
            </select>
        <a href="#" class="btn btn-primary w-100">Add To Cart $42.99</a>
        </form>
    </div>

</div>


<div class="faq-div">
    <h4 class="mb-3">FREQUENTLY ASKED QUESTIONS</h4>

    <div class="w-50 mb-3">
        <p class="faq-question">
            WHEN AND HOW TO USE ELECTROLYTES
        </p>
        <P>
            Mix 1 serving (1 scoop) in 12-16 oz of water and consume as necessary to improve your hydration and electrolyte balance during or around your training session.
        </P>
    </div>

    <div class="w-50 mb-3">
        <p class="faq-question">
            WHAT ARE THE BENEFITS OF USING OUR ELECTROLYTES?
        </p>
        <p>
            Adding electrolytes into your daily routine can help you avoid symptoms of dehydration. 
            Many people are often dehydrated, which can cause fatigue, headaches, constipation, muscle cramps, reduced mental clarity and decreased athletic performance
        </p>
        <p>
            Maintaining proper hydration levels with an electrolyte supplement will improve your daily health, performance and recovery. 
        </p>
    </div>

    <div class="w-50">
        <p class="faq-question">PRODUCT WARNINGS</p>
        <p>
            You should consult a licensed healthcare practitioner before use, especially if you are taking medication or have a medical condition. 
            Do not use if you are currently pregnant or nursing, have had or have a family history of heart disease, high blood pressure, stroke, or 
            any other disease. Discontinue use immediately if you experience any adverse reactions.
        </p>
        <p>
            ​WARNING: This product can expose you to chemicals, including arsenic, which is known to the State of California to cause cancer. 
            For more information, go to <a href="www.P65Warnings.ca.gov">www.P65Warnings.ca.gov</a>.
        </p>
    </div>
    
    
</div>

<%- include("footer") -%>