<div class="footer-div bg-dark container">
    <div class="row">
        <div class="footer-sub-div footer-socials col-lg-3 col-md-6 col-sm-12">
            <div class="footer-socials-title">
                <h5>Los Performance Nutrition</h5>
            </div>
            <div class="footer-socials-logo">
                <h2>LPN</h2>
            </div>
            <div class="footer-socials-links">
                <ul>
                    <li><i class="fa-brands fa-twitter" style="color:
                            #ffffff;"></i></li>
                    <li><i class="fa-brands fa-instagram" style="color:
                            #ffffff;"></i></li>
                    <li><i class="fa-brands fa-tiktok" style="color:
                            #ffffff;"></i></li>
                </ul>
            </div>
        </div>
        <div class="footer-sub-div footer-shop col-lg-3 col-md-6 col-sm-12">
            <h5>SHOP</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link footer-link" href="/preworkout">Preworkout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer-link" href="/endurance">Endurance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer-link" href="/proteins">Protein</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer-link" href="/health">Health</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer-link" href="/apparel">Apparel</a>
                </li>
            </ul>
        </div>
        <div class="footer-sub-div footer-company col-lg-3 col-md-6 col-sm-12">
            <h5>COMPANY</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link footer-link "href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer-link" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer-link" href="/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer-link" href="/faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer-link" href="/prop65">Prop 65</a>
                </li>
            </ul>
        </div>
        <div class="footer-sub-div footer-newsletter col-lg-3 col-md-6 col-sm-12">
            <h5>NEWSLETTER</h5>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email
                        address</label>
                    <input type="email" class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share
                        your email with anyone else.</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<footer class="bg-dark"><small>&copy; Copyright 2023, Carlos Pinto</small></footer>
</main>
<script type="text/javascript" src="/js/imageSwitch.js"></script>
</body>
</html>