<%- include("header") -%>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">LPN</a>
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item dropdown active" aria-current="page">
                    <a class="nav-link dropdown-toggle" href="/supps"
                        role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        SUPPLEMENTS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                                href="/preworkout">PREWORKOUT</a></li>
                        <li><a class="dropdown-item"
                                href="/endurance">ENDURANCE</a></li>
                        <li><a class="dropdown-item" href="/proteins">PROTEIN</a></li>
                        <li><a class="dropdown-item" href="/health">HEALTH</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="/apparel">APPAREL</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="product-div">
    <div class="product-image-div">
        <img src="images/Greens-lemonlime-lg.png" id="greens-image" class="product-image">
    </div>

    <div class="product-info-div">
        <h3>GREENS</h3>
        <p>$42.99</p>
        <p>SERVINGS - 30</p>
        <p>A superfood greens powder to improve digestion, support the immune system and increase natural energy - without tasting like grass.</p>
        <h5>SELECT FLAVOR:</h5>
        <form method="" action="" name="myForm" class="w-50">
            <select class="form-select form-select-sm mb-3" name="greensFlavors" onchange="switchGreensProductImage();" aria-label=".form-select-lg example">
                <option selected>Select Flavor</option>
                <option value="lemon">Lemon-Lime</option>
                <option value="berry">Very Berry</option>
            </select>
        <a href="#" class="btn btn-primary w-100">Add To Cart $42.99</a>
        </form>
    </div>

</div>


<div class="faq-div">
    <h4 class="mb-3">FREQUENTLY ASKED QUESTIONS</h4>

    <div class="w-50 mb-3">
        <p class="faq-question">
            WHEN AND HOW TO USE GREENS
        </p>
        <P>
            We recommend taking Greens first thing in the morning, mixed with 8-10 oz of cold water. 
            You can drink it by itself or with a protein shake.
        </P>
    </div>

    <div class="w-50 mb-3">
        <p class="faq-question">WHAT ARE THE BENEFITS OF TAKING GREENS?</p>
        <p>
            Supplementing your daily diet and nutrition routine with Greens can be game-changing to your day. 
            The health benefits that you may experience from just 1 scoop of Greens daily include:
        </p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Increased natural energy and mental clarity</li>
            <li class="list-group-item">Improved gut health and digestion</li>
            <li class="list-group-item">Reduced stomach bloating and discomfort</li>
            <li class="list-group-item">Support immune system</li>
            <li class="list-group-item">Reduced inflammation</li>
        </ul>
    </div>
   
    <div class="w-50 mb-3">
        <p class="faq-question">
            WHO SHOULD TAKE OUR GREENS SUPPLEMENT?
        </p>
        <p>
            Greens  is a supplement that everyone can benefit from. It is stimulant free and just like all of our supplements - free of banned substances. 
            This is a great product for anyone looking to fill the gaps in their diet, improve their overall health and function at a peak performance.
        </p>
    </div>
    
    <div class="w-50">
        <p class="faq-question">PRODUCT WARNINGS</p>
        <p>
            You should consult a licensed healthcare practitioner before use, especially if you are taking medication or have a medical condition. 
            Do not use if you are currently pregnant or nursing, have had or have a family history of heart disease, high blood pressure, stroke, or 
            any other disease. Discontinue use immediately if you experience any adverse reactions.
        </p>
        <p>
            ​WARNING: This product can expose you to chemicals, including arsenic, which is known to the State of California to cause cancer. 
            For more information, go to <a href="www.P65Warnings.ca.gov">www.P65Warnings.ca.gov</a>.
        </p>
    </div>
    
    
</div>

<%- include("footer") -%>