<%- include("header") -%>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">LPN</a>
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="/">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          SUPPLEMENTS
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/preworkout">PREWORKOUT</a></li>
                          <li><a class="dropdown-item" href="/endurance">ENDURANCE</a></li>
                          <li><a class="dropdown-item" href="/proteins">PROTEIN</a></li>
                          <li><a class="dropdown-item" href="/health">HEALTH</a></li>
                        </ul>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apparel">APPAREL</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="banner-div-home banner-div">

        <div class="col col-lg-6 col-sm-12">
            <h2>Shop Now</h2>
        </div>
        <div class="col col-lg-6 col-sm-12">

        </div>

    </div>

    <div class="home-shop-here row">

        <div class="col-lg-3 col-md-6 card-div">
            <div class="card home-card">
                <div class="img-hover-zoom">
                    <a href="/preworkout">
                        <img src="images/preworkout-home.jpg" class="card-img-top"
                            alt="Woman sipping preworkout" >
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">SHOP PREWORKOUT <i class="fa-solid fa-arrow-right bold"></i></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 card-div">
            <div class="card home-card">
                <div class="img-hover-zoom">
                    <a href="/endurance">
                        <img src="images/running.jpg" class="card-img-top" alt="Man
                            running">
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">SHOP ENDURANCE <i class="fa-solid fa-arrow-right bold"></i></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 card-div">
            <div class="card home-card">
                <div class="img-hover-zoom">
                    <a href="/proteins">
                        <img src="images/protein-home.jpg" class="card-img-top"
                            alt="Scoop of protein powder">
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">SHOP PROTEIN <i class="fa-solid fa-arrow-right bold"></i></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 card-div">
            <div class="card home-card">
                <div class="img-hover-zoom">
                    <a href="/health">
                        <img src="images/healthwellness.jpg" class="card-img-top"
                            alt="Pile of vitamins">
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">SHOP HEALTH <i class="fa-solid fa-arrow-right bold"></i></p>
                </div>
            </div>
        </div>

    </div>

    <div class="mission-statement-div">

        <h2 class="mission-h2">GO BEYOND YOUR LIMITS</h2>
        <p class="mission-statement-p">
            At Los Performance Nutrition, our mission is to help people achieve
            optimal health and wellness through high-quality, science-based
            supplements.
            To fulfill this mission, we are committed to using only the
            highest-quality ingredients and employing rigorous testing and
            manufacturing processes.
            Our ultimate goal is to empower our customers to live healthier,
            happier lives, and to be a trusted partner on their journey to
            wellness.
        </p>

    </div>
    <div class="review-div">
        <div id="homeCarousel" class="home-reviews carousel carousel-dark slide
            w-50">



            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img src="images/weightlifter.jpg" class="d-md-flex w-100
                        d-none" alt="man in a
                        karate uniform">
                    <div class="carousel-caption d-flex">
                        <h5 class="review">
                            "I choose LPN because It is made by athletes for
                            athletes with quality ingredients, great taste, and
                            a range of flavors."
                        </h5>
                        <p class="review">
                            Jordan Termini - Body Builder
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/volleyball.jpg" class="d-flex w-100"
                        alt="Female
                        volleyball player">
                    <div class="carousel-caption d-md-flex">
                        <h5 class="review">
                            "I'm always looking for good, wholesome fuel, to
                            make me feel good and strong."
                        </h5>
                        <p class="review">
                            Celena Diaz - Pro Volleyball Player
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/soccer.jpg" class="d-flex w-100" alt="Male
                        soccer player">
                    <div class="carousel-caption d-md-flex">
                        <h5 class="review">
                            "LPN helps me keep fueling strong to keep training
                            strong!"
                        </h5>
                        <p class="review">
                            Ryan Clark - Pro Soccer Player
                        </p>
                    </div>
                </div>



            </div>
            <button class="carousel-control-prev" type="button"
                data-bs-target="#homeCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button"
                data-bs-target="#homeCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#homeCarousel"
                    data-bs-slide-to="0" class="active carousel-buttons"
                    aria-current="true"
                    aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#homeCarousel"
                    data-bs-slide-to="1" class="carousel-buttons"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#homeCarousel"
                    data-bs-slide-to="2" class="carousel-buttons"
                    aria-label="Slide 3"></button>
            </div>

        </div>
    </div>

    
    <%- include("footer") -%>